:root {
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
}

#dashboard_table_div {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#dashboard_table_div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#dashboard_table_div a:hover {
    text-shadow: 1px 1px rgb(61, 55, 55);
}

#dashboard_calendar_div {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#nodata_img {
    background-color: var(--veryLightGray);
    box-shadow: 0px 20px 30px -20px var(--grayishBlue);
    border-top: 2px solid rgb(11, 95, 173);
    border-radius: 5px;
}
